@import "tailwindcss";

body {
  font-family: var(--font-poppins), sans-serif;
  background-color: #f8f9fa;
  color: #171717;
}

.fade-up {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}
