---
import "../styles/global.css";
import BaseLayout from "../layouts/BaseLayout.astro";
import Hero from "../components/Hero.astro";
import SocialLinks from "../components/SocialLinks.astro";
import Content from "../components/Content.astro";
---

<BaseLayout title="Naufal Faisa | Computer Science Student & Web Developer">
  <div class="w-full max-w-3xl p-4 sm:p-6 flex flex-col gap-6">
    <Hero />
    <SocialLinks />
    <Content />
  </div>
</BaseLayout>
