---
import BaseLayout from "../layouts/BaseLayout.astro";
import ProjectList from "../components/ProjectList.astro";
import { fetchProjects } from "../data/fetchProjects";

const projects = await fetchProjects();
---

<BaseLayout title="Naufal Faisa | Projects">
  <div class="w-full max-w-5xl p-4 mt-3 sm:p-6 flex flex-col">
    <h1 class="title-text text-left mb-6">My Projects</h1>
    <ProjectList projects={projects} />
  </div>
</BaseLayout>
