<div class="card p-3 sm:p-4 flex flex-col sm:flex-row items-start gap-3 sm:gap-4 text-sm sm:text-base">
  <img src="https://media1.tenor.com/m/nJd_flo2pssAAAAC/anime.gif" alt="GIF" class="w-20 h-20 sm:w-24 sm:h-24 object-cover rounded-xl mx-auto sm:mx-0" />
  <p class="subtitle-text text-center sm:text-left leading-relaxed">
    I'm someone who deals with social anxiety — it makes social situations a bit challenging,
    but coding has become my safe space to express ideas and connect with others.
  </p>
</div>
<div class="flex justify-center gap-4 flex-wrap max-w-3xl mx-auto">
  <img
    src="https://i.imgur.com/DmOkhnw.jpeg"
    class="object-contain rounded-xl shadow-md border-1 border-neutral-300 dark:border-neutral-700 w-[100%] sm:w-[48%]"
  />
  <img
    src="https://lastfm-recently-played.vercel.app/api?user=naufalfaisa&width=500"
    alt="Last.fm Recently Played"
    class="object-contain rounded-xl shadow-md border-1 border-neutral-300 dark:border-neutral-700 w-[100%] sm:w-[48%]"
  />
</div>