<div class="mt-6 flex justify-center gap-4 flex-wrap max-w-3xl mx-auto">
  <img
    src="https://i.imgur.com/DmOkhnw.jpeg"
    class="object-contain rounded-xl shadow-md border-2 border-neutral-300 dark:border-neutral-700 w-[100%] sm:w-[48%]"
  />
  <img
    src="https://lastfm-recently-played.vercel.app/api?user=naufalfaisa&width=500"
    alt="Last.fm Recently Played"
    class="object-contain rounded-xl shadow-md border-2 border-neutral-300 dark:border-neutral-700 w-[100%] sm:w-[48%]"
  />
</div>
