<div class="px-6 py-3 card navbar"> 
  <div class="flex justify-between flex-wrap items-center gap-2"> 

    <div class="flex items-center gap-2 flex-nowrap nav-link">
      <img src="/favicon.svg" alt="Logo" class="h-6 w-6"/>
      <span>naufalfaisa</span>
    </div>

    <div class="flex gap-4">
      <a href="/" class="nav-link"><i class="fa-solid fa-house"></i></a>
      <a href="/projects" class="nav-link"><i class="fa-solid fa-folder"></i></a>
      <a href="https://blog.naufalfaisa.my.id/" target="_blank" class="nav-link">
        <i class="fa-solid fa-blog"></i>
      </a>
    </div>
  </div> 
</div>
